@page
@model Q2.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Photo)
        </dt>
        <dd class="col-sm-10">
            <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Customer.Photo)" alt="Customer Photo" width="100" height="100" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Fax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Fax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Remarks)
        </dd>
        <table>
            <thead>
                <tr>
                    <th>
                        Address Type
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        Postal Code
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Customer.Addresses.Count; i++)
                {
                    <tr class="address">
                        <td><input asp-for="Customer.Addresses[i].Type" class="form-control" /></td>
                        <td><input asp-for="Customer.Addresses[i].Address" class="form-control" /></td>
                        <td><input asp-for="Customer.Addresses[i].City" class="form-control" /></td>
                        <td><input asp-for="Customer.Addresses[i].Country" class="form-control" /></td>
                        <td><input asp-for="Customer.Addresses[i].PostalCode" class="form-control" /></td>
                    </tr>
                }

            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
